.container-1{
    display: flex;
    /* background-color: red; */
    /* height: 100vh; */
}

.left-section{
    flex:1;
    background-color:black;
    height: 100vh;
}

.main-section{
    flex:8;
    background-color: white;
    height: 100vh;
}

.right-section{
    flex:1;
    background-color:black;
    height: 100vh;
}